# Database connection string for PostgreSQL
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"

# Auth Credentials
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="your-strong-password"
JWT_SECRET="generate-a-secure-32-character-secret-key-minimum"
